.home{
  background-color: #fff;
  min-height: 100vh;
}

.livro-card {
  /* border: 1px solid #000000; */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  width: 250px;
  margin-top: 5%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.livro-card:hover {
  box-shadow: 0 4px 8px rgba(8, 2, 100, 0.733);
  transform: scale(1.05);
  /* background-color: rgba(253, 255, 127, 0.301); */
}

.livro-card-header {
  height: 400px;
  overflow: hidden;
}

.livro-card-imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.livro-card-body {
  padding: 16px;
}

.livro-card-titulo {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
}

.livro-card-autor {
  margin-top: 0;
  margin-bottom: 4px;
  font-style: italic;
  color: #666;
}

.livro-card-descricao {
  font-size: 14px;
  color: #333;
}

.livro-list-container {
  display: flex; 
  justify-content: center;
  gap: 35px;
  
}

.header{
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: rgb(16, 28, 39);
}

.livro-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem 2rem;
}

.livro-modal__conteudo{
  display: flex;
  gap: 35px;
}

.livro-modal__esquerdo{
  text-align: center;
}

.livro-modal__esquerdo > img{
  width: 400px;
}

.livro-modal__btn{
  cursor: pointer;
}

.efeito{
  filter: brightness(50%);
  pointer-events: none;
}

.close{
  display: none;
}

.open{
  display: block;
}